body {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	background-color: #ececec;
	padding: 20px;
}
	
p {
	font-size: 14px
}
	
h1 {
	margin-top: 20px;
	margin-left: 20px;
	color: #313131;
}

p.copyright {
	font-size: 67%;
{

textarea {
	font-family: 'Open Sans', sans-serif;
	border: 1px solid #313131;
	border-radius: 5px;
}

select {
	font-size: 20px;
}

input, button {
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 200%;
	background-color: #ffffff;
	border: 1px solid #313131;
	border-radius: 5px;
}	
ul {
	list-style-type: none;
	list-style:none;
    padding-left:0;
	color: #313131;
	font-weight: bold;
	font-size: 15px;
}
	
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
	
ul a:link {
	color: #313131
	text-decoration: none;
}
	
ul a:visited {
	color: #313131
}
	
ul a:hover {
	color: #bebebe;
}